
$mdc-theme-primary: #E5FCC2;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #9DE0AD;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface: #547980;
$mdc-theme-on-surface: #FFFFFF;
$mdc-theme-background: #594F4f;
$mdc-theme-on-background: #FFFFFF;

@import "@material/button/mdc-button";
@import "@material/image-list/mdc-image-list";
@import "@material/elevation/mdc-elevation";


.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.app-list {
  @include mdc-image-list-masonry-columns(5);
  overflow: auto;
  padding: 40px 60px 0 60px;
}

.header {
  color: $mdc-theme-on-primary;
}

body{
  background-color: $mdc-theme-background;
}

.inner{
  background-color: $mdc-theme-secondary;
  color: $mdc-theme-on-secondary;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
}

.mdc-image-list__supporting {
  justify-content: center;
}

.mdc-image-list__item {
  padding: 10px;
}

.mdc-image-list__label {
  @include mdc-typography(subtitle2);
}

.shrine-body {
  @include mdc-elevation(4);

  display: block;
  overflow: auto;
}